h1 {
  border: 1px solid var(--ion-color-primary);
  border-radius: 5px;
  color: var(--ion-color-primary);
  font-size: 18px;
  padding: 8px;
}

.offet-details {
  align-items: center;
  display: flex;

  ion-text,
  span {
    font-size: 13px;
    margin: 5px;
  }

  span {
    margin-right: 10px;
  }
}
